<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoga.ewedding.recharge.mapper.ChargeMapper">

    <select id="findByTenantIdAndParentId" resultType="com.yoga.ewedding.recharge.model.Charge">
        select c.tenant_id, c.original_fee, c.monthly_fee, c.quarterly_fee, c.halfyear_fee, c.yearly_fee, d.id
        from s_department d left JOIN ew_charge c on c.type_id = d.id
        where d.tenant_id = #{tenantId} and d.parent_id = #{parentId}
    </select>

</mapper>