<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yoga.ewedding.counselor.mapper.CounselorMapper">
    <sql id="query_where">
        <if test="name!=null and name!=''">
            and (u.username like '%${name}%' or u.fullname like '%${name}%')
        </if>
        <if test="company!=null and company!=''">
            and u.company like '%${company}%'
        </if>
    </sql>

    <select id="countBy" resultType="java.lang.Integer">
        SELECT count(*)
        FROM s_user u, ew_counselor c
        WHERE c.id = u.id and u.tenant_id = #{tenantId} and u.disabled = 1
        <where>
            <include refid="query_where"></include>
        </where>
    </select>
    <select id="findBy" resultType="com.yoga.ewedding.counselor.model.CounselorUser">
        SELECT c.status, c.pid, c.pid_front, c.pid_back, c.images, c.reject_reason, c.name, c.nation, c.birthday, c.gender as pid_gender, c.address, c.expire, u.*
        FROM s_user u, ew_counselor c
        WHERE c.id = u.id and u.tenant_id = #{tenantId}
        <where>
            <include refid="query_where"></include>
        </where>
        <if test="deptId!=null">
            and u.dept_id = #{deptId}
        </if>
        <if test="status!=null">
            and c.status = #{status}
        </if>
        <if test="startIndex!=null and pageSize!=null">
            LIMIT #{startIndex},#{pageSize}
        </if>
    </select>
    <select id="findByTenantIdAndId" resultType="com.yoga.ewedding.counselor.model.CounselorUser">
        SELECT c.status, c.pid, c.pid_front, c.pid_back, c.images, c.reject_reason, c.name, c.nation, c.birthday, c.gender as pid_gender, c.address, c.expire, u.*
        FROM s_user u, ew_counselor c
        WHERE c.id = u.id and u.tenant_id = #{tenantId} and u.id = #{id} LIMIT 0,1
    </select>
    <select id="findAboveId" resultType="com.yoga.ewedding.counselor.model.CounselorUser">
        SELECT c.status, c.pid, c.pid_front, c.pid_back, c.images, c.reject_reason, c.name, c.nation, c.birthday, c.gender as pid_gender, c.address, c.expire, u.*
        FROM s_user u, ew_counselor c
        WHERE c.id = u.id and u.tenant_id = #{tenantId} and c.status = 'accepted'
        <if test="aboveId!=null">
            and u.id > #{aboveId}
        </if>
    </select>

</mapper>