<?xml version="1.0" encoding="utf-8"?>
<menus>
	<menu sort = "5" icon ="icon-edit" name="顾问管理" url="">
		<module code="ew_counselor" sort="1" icon="" name="顾问列表" url="/ewedding/counselor/list">
			<permissions code="ew_counselor.pass" sort = "1" icon = "" name = "审核"  url = ""/>
		</module>
		<module code="ew_counselor" sort="1" icon="" name="申请审核" url="/ewedding/counselor/checking">
			<permissions code="ew_counselor.pass" sort = "1" icon = "" name = "审核"  url = ""/>
		</module>
	</menu>
	<menu sort = "5" icon ="icon-edit" name="充值收费" url="">
		<module code="ew_charge" sort="1" icon="" name="收费方式" url="/ewedding/charge">
			<permissions code="ew_charge.query" sort = "1" icon = "" name = "查看"  url = ""/>
			<permissions code="ew_charge.update" sort = "1" icon = "" name = "修改"  url = ""/>
		</module>
		<module code="ew_recharge" sort="1" icon="" name="充值记录" url="/ewedding/charge/recharge">
			<permissions code="ew_recharge.query" sort = "1" icon = "" name = "查看"  url = ""/>
		</module>
	</menu>
	<menu sort = "5" icon ="icon-edit" name="客户管理" url="">
		<module code="ew_customer" sort="1" icon="" name="客户管理" url="">
		</module>
	</menu>
</menus>
