.picItems{
    width: 190px;
    height: 208px;
    float: left;
    margin: 16px 5px 10px 22px;
    position: relative;
    border: 1px solid #e9e9e9;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
}
.picCenter ,.videoCenter{
    font-size: 12px;
    color: #afafaf;
}
.picImg{
    height: 150px;
    width: 188px;
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
}
.picImg img{
    display: block;
    width: 100%;
    height: 150px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.picName{
    width: 150px;
    height: 28px;
    position: absolute;
    top: 150px;
    left: 0;
    padding-left: 20px;
    color: #000;
}
.picCheckBox{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 7px;
    margin-right: 10px;
}
.picNameBox{
    position: absolute;
    top: 5px;
    left: 40px;
    max-width: 120px;
    overflow: hidden;
}
.picControl{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 31px;
    width: 100%;
    border-top: 1px solid #fff;
}
.picControl span{
    float: left;
    border: 1px solid #dedede;
    display: inline-block;
    width: 33.333%;
    background-color: #fafafa;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}
.fa{
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.serchInput{
    width: 215px;
    padding-left: 30px;
    display: inline-block;
}
.serchBox{
    width: 100%;
    display: inline-block;
    position: relative;
}
.serchBtn{
    left: 0;
    top: 5px;
    border: none;
    background: none;
    border-right: 1px solid #d4cdcd;
    position: absolute;
}
.pencil:before{
    content: "\f040";
}
.exchange:before{
    content: "\f0ec";
}
.trash:before{
    content: "\f1f8";
}
.serchIcon:before{
    content: "\f002";
}
.picHeader{
    padding: 5px 15px;
    background-color: #f3f4f8;
    border-right: 1px solid #ddd;
}

.picBox_reply{
    padding-bottom: 60px;
    margin-bottom: 2px;
    min-height: 200px;
    overflow: hidden;
    border-right: 1px solid #ddd;
    position: relative;
}
.picBox{
    padding-right: 218px;
    padding-bottom: 60px;
    margin-bottom: 2px;
    min-height: 300px;
    overflow: hidden;
    border-right: 1px solid #ddd;
    position: relative;
}
.picBtn{
    border: none;
    padding: 3px 15px;
    color: #54b5ff;
    font-size: 14px;
    background-color: #fff;;
}
.imgSelect{
    border: 1px solid #dedede;
    border-right: none;
    position: relative;
}
.picGrowp{
    border-bottom: none;
    border-top: none;
    border: 1px solid #dedede;
    position: absolute;
    width: 150px;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
}
.padder{
    padding: 5px;
    padding-left: 8px;
}
.addGrowp{
    text-align: center;
    margin-top: 28px;
}
.addGropIcon{
    margin-right: 10px;
    color: #23b7e5;
    font-size: 14px;
    margin-left: 5px;
    display: inline-block;
    font: 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.addGropIcon:before{
    content: "\f067";
}
.growpName{
    padding-left: 0px;
    margin-top: 20px;
}
.growpName li{
    background-color: #01A1FF;
    color: #fff;
    padding: 5px 10px;
    margin-bottom: 10px;
}
.growpName li:hover{
    background-color: #0a67fb;
}
.addGrowp a{
    padding: 5px;
    border: 1px dashed #ccc;
}
.videoItems_reply{
    width: 198px;
    height: 198px;
    float: left;
    margin: 16px;
    position: relative;
    border: 1px solid #e9e9e9;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    cursor: pointer;
}
.videoItems{
    width: 298px;
    height: 298px;
    float: left;
    margin: 16px;
    position: relative;
    border: 1px solid #e9e9e9;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
    cursor: pointer;
}
.videoTime{
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 12px;
    color: #afafaf;
}
.videoTitle{
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    display: block;
    color: #000;
}
.videoPlayer{
    height: 148px;
    width: 100%;
    background: #000;
    margin-top: 10px;
    margin-bottom: 16px;
    position: relative;
}
.videoControl{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 47px;
    width: 100%;
    border-top: 1px solid #e9e9e9;
}

.videoControl span{
    display: inline-block;
    width: 33.333%;
    background-color: #f2f5f7;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 22px;
    float: left;
    border: 1px solid #dedede;
}
.videoBox{
    padding-bottom: 60px;
    margin-bottom: 2px;
    min-height: 300px;
    overflow: hidden;
    border-right: 1px solid #ddd;
    position: relative;
}
.addvideo{
    float: right;
    margin-right: 100px;
}
.addvideo a{
    padding: 5px;
    border: 1px dashed #ccc;
}
.palyBtn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.full-start{
    display: block;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,.5);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    color: #fff;
}
.palyIcon:before{
    content: "\f04b";
}
.vidoeMian{
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
.audio_replay{
    height: 50px;
    width: 50px;
    background: #f3f4f8;
    border-radius: 50%;
    margin-left: 38%;
    padding-top: 10px;
}
.audio{
    height: 50px;
    width: 50px;
    background: #f3f4f8;
    margin: 14px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
}
.audioDetail{
    margin-left: 78px;
}
.audioItems{
    width: 276px;
    height: 108px;
    float: left;
    margin: 16px;
    position: relative;
    border: 1px solid #e9e9e9;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 10px;
}
.audioLone{
    float: right;
    font-size: 12px;
    color: #afafaf;
}
.audioName{
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 14px;
    max-width: 150px;
    height: 15px;
    overflow: hidden;
    color: #000;
}
.audioTime{
    font-size: 12px;
    color: #afafaf;
}
.audioControl{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 31px;
    width: 100%;
    border-top: 1px solid #e9e9e9;
}
.audioControl span{
    border: 1px solid #dedede;
    float: left;
    display: inline-block;
    width: 33.333%;
    background-color: #f2f5f7;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}
.audioDefault{
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 18px;
    top: 16px;
    left: 14px;
    background-size: 22px 18px;
    background: url('');
}
.audioDefault_reply{
    width: 23px;
    height: 18px;
    margin-top: 5px;
    margin-left: 13px;
    background-size: 22px 18px;
    background: url('');
}
.audioPlaying_reply{
    cursor: pointer;
    display: none;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    background-size: 50px;
    background: url('');
    margin-top: -10px;
}
.audioPlaying{
    cursor: pointer;
    display: none;
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    background-size: 50px;
    background: url('');
}
.msgBox{
    margin-bottom: 0;
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: 0;
    margin: 0 30px;
    letter-spacing: -4px;
}
/*瀑布流层*/
.waterfall{
  -moz-column-count:3; /* Firefox */
  -webkit-column-count:3; /* Safari 和 Chrome */
  column-count:3;
  -moz-column-gap: 0em;
  -webkit-column-gap: 0em;
  column-gap: 0em;

}
.msgItem{
    /*position: relative;*/
    /*overflow: hidden;*/
    /*background-color: #fff;*/
    /*color: #666;*/
    /*display: inline-block;*/
    /*vertical-align: top;*/
    /*text-align: left;*/
    /*font-size: 14px;*/
  /*margin: 0 0 1em 0;*/
  /*-moz-page-break-inside: avoid;*/
  /*-webkit-column-break-inside: avoid;*/
  /*break-inside: avoid;*/
  /*padding: 1em;*/
  margin: 0 .5em 1em .5em;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  border: 1px solid #e7e7eb;

}
.msgItemA{
  position: relative;
  overflow: hidden;
  /*border: 1px solid #e7e7eb;*/
  background-color: #fff;
  color: #666;
  /*display: inline-block;*/
  vertical-align: top;
  text-align: left;
  font-size: 14px;
  margin: 0 auto;
  -moz-page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  break-inside: avoid;
  width: 30%;
}
.msgItemA .msgItem .msgOpr,.msgItemA .img_item  .msgOpr{
    display: none;
}
.msgContent{
    position: relative;
    padding: 0;
}
.msgInfo{
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    margin: 0 14px;
    padding: 12px 0;
    border-bottom: 1px solid #e7e7eb;
}
.msgCoverImg{
    position: relative;
    margin: 12px 0 12px;
}
.msgCoverImg h4{
    font-size: 14px;
    padding-top: 0;
    line-height: 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.6)!important;
}
.msgCoverImg h4 a{
    padding: 0 8px;
    color: #fff;
}
.msgImg{
    height: 160px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#type_news .msgItem .msgCoverImg:hover .previewMsg{
    display: block;
}
.msgImgCover:hover{
    color: #fff;
    text-decoration: underline;
}
.msgImgCover{
    font-size: 0;
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: -12px;
    bottom: -12px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    z-index: 1;
    text-align: center;
    padding: 14px;
}
.msgCoverContent{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    margin-top: 30px;
}
.appMsg{
    border-top: 1px solid #e7e7eb;
    position: relative;
}
.appMsgImg{
    float: right;
    width: 78px;
    height: 78px;
    margin-left: 14px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.appMsg h4{
    margin-top: 14px;
    line-height: 24px;
    max-height: 48px;
    overflow: hidden;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
.appMsg h4 a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}
.firstMsg:hover .firstMsgCover{
    display: block;
}
.videoControl{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 47px;
    width: 100%;
    border-top: 1px solid #e9e9e9;
}

.msgOpr span{
    display: inline-block;
    width: 100%;
    background-color: #f2f5f7;
    height: 46px;
    line-height: 46px;
    text-align: center;
    font-size: 14px;
    float: left;
    border: 1px solid #dedede;
}
.msgOpr{
    position: relative;
    bottom: 0;
    left: 0;
    height: 47px;
    width: 100%;
    background-color: #f4f4f4;
    border-top: 1px solid #e7e7eb;
}
#type_no_news .msgOpr{
    position: relative;
    bottom: 5px;
    left: 0;
    height: 47px;
    width: 100%;
    background-color: #f4f4f4;
    border-top: 1px solid #e7e7eb;
}
.msgDesc{
    padding: 5px 0 10px;
    word-wrap: break-word;
    word-break: break-all;
}
