<?xml version="1.0" encoding="utf-8"?>
<menus>
	<menu sort = "1001" icon = "icon-user" name = "站点选项"  url = "">
		<module code="api_aliyun_idcard" sort="5" icon="" name="身份证识别" />
	</menu>
	<menu sort = "1001" icon = "icon-user" name = "配置管理"  url = "">
		<module code="u_journal" sort="5" icon="" name="操作日志" url="/system/journal/list">
			<permissions code="u_journal.query" sort = "2" icon = "" name = "查询"  url = ""/>
		</module>
	</menu>
</menus>