<?xml version="1.0" encoding="utf-8"?>
<menus>
    <menu sort="10" icon="icon-weixin" name="官微管理" url="">
        <module code="wx_account" sort="1" icon="" name="账号管理" url="/wechat/account">
            <permissions code="wx_account.add" sort="1" icon="" name="添加" url=""/>
            <permissions code="wx_account.del" sort="1" icon="" name="删除" url=""/>
            <permissions code="wx_account.update" sort="2" icon="" name="修改" url=""/>
        </module>
        <module code="wx_menu" sort="2" icon="" name="自定义菜单" url="/wechat/menu">
            <permissions code="wx_menu.update" sort="1" icon="" name="编辑" url=""/>
            <permissions code="wx_menu.publish" sort="2" icon="" name="发布菜单" url=""/>
        </module>
        <module code="wx_menu_customer" sort="3" icon="" name="个性化菜单" url="/wechat/menu/condition">
        </module>
        <module code="wx_reply" sort="4" icon="" name="回复管理" url="/wechat/reply">
            <permissions code="wx_reply.update" sort="1" icon="" name="编辑" url=""/>
        </module>
    </menu>
    <menu sort="11" icon="icon-user" name="公众号用户" url="">
        <module code="wx_tags" sort="5" icon="" name="标签管理" url="/wechat/users/tags">
            <permissions code="wx_tags.update" sort="1" icon="" name="编辑" url=""/>
        </module>
        <module code="wx_users" sort="6" icon="" name="用户管理" url="/wechat/users">
            <permissions code="wx_users.update" sort="1" icon="" name="编辑" url=""/>
        </module>
    </menu>
    <menu sort="12" icon="icon-film" name="公众号素材" url="">
        <module code="wx_material" sort="1" icon="" name="图片素材" url="/wechat/material?type=image">
            <permissions code="wx_material.update" sort="1" icon="" name="管理" url=""/>
        </module>
        <module code="wx_material" sort="2" icon="" name="图文素材" url="/wechat/material/document">
            <permissions code="wx_material.update" sort="1" icon="" name="管理" url=""/>
        </module>
        <module code="wx_material" sort="3" icon="" name="视频素材" url="/wechat/material?type=video">
            <permissions code="wx_material.update" sort="1" icon="" name="管理" url=""/>
        </module>
        <module code="wx_material" sort="4" icon="" name="语音素材" url="/wechat/material?type=voice">
            <permissions code="wx_material.update" sort="1" icon="" name="管理" url=""/>
        </module>
        <module code="wx_material_group" sort="4" icon="" name="分组管理" url="/wechat/material/group">
            <permissions code="wx_material_group.update" sort="1" icon="" name="管理" url=""/>
        </module>
    </menu>
</menus>
