
.margin-r-5 {
    margin-right: 5px;
}
.margin-l-5 {
    margin-left: 5px;
}
.margin-t-5 {
    margin-top: 5px;
}
.margin-b-5 {
    margin-bottom: 5px;
}

.margin-rem5 {
    margin: .5rem;
}
.margin-l-rem5 {
    margin-left: .5rem;
}
.margin-t-rem5 {
    margin-top: .5rem;
}
.margin-r-rem5 {
    margin-right: .5rem;
}
.margin-b-rem5 {
    margin-bottom: .5rem;
}