<?xml version="1.0" encoding="utf-8"?>
<menus>
	<menu sort = "5" icon ="icon-edit" name="群组管理" url="">
		<module code="im_group" sort="1" icon="" name="群组管理" url="">
			<permissions code="im_group.everyone" sort = "1" icon = "" name = "全员群组信息修改"  url = ""/>
		</module>
	</menu>
	<menu sort = "1001" icon = "icon-user" name = "站点选项"  url = "">
		<module code="gcf_imessager" sort="5" icon="" name="即时通讯模组" />
	</menu>
</menus>